<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>Hello World App</title>
	<script id="sap-ui-bootstrap" src="{{{ui5liburl}}}/resources/sap-ui-core.js"
		data-sap-ui-theme="sap_belize_plus"
		data-sap-ui-xx-bindingSyntax="complex"
		data-sap-ui-compatVersion="edge"
		data-sap-ui-preload="async"
		data-sap-ui-language="en"	
		data-sap-ui-libs="sap.m,sap.ui.comp,sap.ui.core,sap.ui.layout"
		data-sap-ui-resourceroots='{
				"com.firehana.webapp": "./" }'	
		data-sap-ui-frameOptions="trusted">
	</script>
	<script>
         sap.ui.getCore().attachInit(function () {
         	new sap.m.Shell({
         		app: new sap.ui.core.ComponentContainer({
	               name : "com.firehana.webapp"
	            })
         	}).placeAt("content");
         });
      </script>	
</head>
<body class="sapUiBody" id="content">
</body>
</html>